<div>
	<h1>Activities</h1>
	<div ng-controller="activitiesCtrl">
		<h2 ng-show="!got_activities">Loading...</h2>

		<div ng-show="got_activities">
			<button class="btn btn-primary pull-right" ng-click="addActivity()">Add Activity</button>
			<table class="table table-striped">
				<tr><th>Name</th><th>Actions</th></tr>
				<tr ng-repeat="a in activities">
					<td>{{a.name}}</td>
					<td><button class="btn btn-danger" ng-click="deleteActivity(a.id)"><span class="glyphicon glyphicon-remove"></span></button></td>
					<td><button class="btn btn-warning" ng-click="goToEdit(a.id)"><span class="glyphicon glyphicon-pencil"></span></button></td>
				</tr>
			</table>
		</div>
	</div>
</div>