<div ng-controller="standoviCtrl">
	<h2>Standovi</h2>
	<button class="btn btn-primary pull-right" ng-click="filter = !filter"><span ng-show="!filter">Filter</span><span ng-show="filter">Dodavanje</span></button>

	<div ng-if="!filter">
		<form>
			<div class="form-group">
				<label for="zakupac">Zakupac</label>
				<input id="zakupac" ng-model="newStand.zakupac"/>
			</div>
			<div class="form-group">	
				<label for="povrsina">Povrsina</label>
				<input id="povrsina" ng-model="newStand.povrsina"/>
			</div>
			<div class="form-group">
			<label for="sajam">Sajam</label>
			<select ng-model="newStand.sajamId" ng-change="change()">
				<option ng-repeat="sajam in sajmovi" value="{{sajam.id}}">{{sajam.naziv}}</option>
			</select>
			</div>
			<button class="btn btn-default" ng-disabled="!got_sajmovi" ng-click="addStand()">Add</button>
		</form>
		<br/>
	</div>

	<div ng-if="filter">
		<form>
			<div class="form-group">
				<label for="zakupacFilter">Zakupac</label>
				<input id="zakupacFilter" ng-model="trazeniStand.zakupac"/>
			</div>
			<div class="form-group">
				<label for="minPFilter">Minimalna povrsina</label>
				<input id="minPFilter" ng-model="trazeniStand.minP"/>
			</div>
			<div class="form-group">
				<label for="maxPFilter">Maksimalna povrsina</label>
				<input id="maxPFilter" ng-model="trazeniStand.maxP"/>
			</div>
			<button><span ng-click="search()" class="glyphicon glyphicon-search"></span></button>

		</form>
	</div>

	<div class="btn-group pull-right">
		<button ng-disabled="pageNum==0" class="btn btn-primary" ng-click="go(-1)">Back</button>
		<button ng-disabled="pageNum==totalPages-1" class="btn btn-primary" ng-click="go(1)">Next</button>
	</div>
	<br/>
	<table border="1" class="table table-striped">
		<tr>
			<th>Zakupac</th>
			<th>Povrsina</th>
			<th>Sajam</th>
		</tr>
		<tr ng-repeat="stand in standovi">
			<td>{{stand.zakupac}}</td>
			<td>{{stand.povrsina}}</td>
			<td>{{stand.sajamNaziv}}</td>
		</tr>
	</table>
</div>